<h2 style="padding-top:30px;">Employee Details</h2>
<hr>
<table class="table table-striped" style="padding-bottom:40px;" >
    <tr>
        <th class="table-warning">EmpId</th>
        <th class="table-warning">Name</th>
        <th class="table-warning">Age</th>
        <th class="table-warning">Salary</th>
        <th class="table-warning">EmailId</th>
    </tr>
    <tr>
        <td class="table-warning">{{empDetails.id}}</td>
        <td class="table-warning">{{empDetails.name}}</td>
        <td class="table-warning">{{empDetails.age}}</td>
        <td class="table-warning">{{empDetails.salary}}</td>
        <td class="table-warning">{{empDetails.emailid}}</td>
    </tr>
</table>
